/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face{ 
	font-family: 'Permanent Marker'; 
	src: url("/assets/Fonts/PermanentMarker-Regular.ttf") format("truetype"); 
	font-weight: normal; 
	font-style: normal; 
}

body{
	background: url(assets/Images/bcg2.jpg) no-repeat center center fixed;
	background-size: cover;
}